canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

h1 {
    color: red;
    font-size: 100px;
    text-align: center;
    text-shadow: 3px 3px blueviolet;
    font-weight: 1000;
    font-style: oblique;
}

p {
    text-align: center;
    color: lawngreen;
}

.face {
    width: 70%;
    background-color: wheat;
    padding: 2rem;
    max-width: 150px;
    font-size: 20px;
    text-align: center;
}

.rw {
    width: 30%;
    background-color: burlywood;
    padding: 2rem;
    max-width: 150px;
    font-size: 20px;
    text-align: center;
}