html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  background-color:white;
}

body {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;  /* Center vertically */
    height: 100vh;  /* Full viewport height */
    margin: 0;
    background-color: black; 
}

